<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/ctrlsuryansh.css">
    <title>codeFix Module</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <div class="topnav">
        <img class = "logo" src="logo2.jpg"/>
        <a class="active" href = "index.html">codeFix Module</a>
        <a class = "button" href="#columnc">About Us</a>
        <a class = "button" href="/form">Account</a>
        <a class = "java" href="#columnb">Java</a>
        <a class = "cprogramming" href ="#columna">C Programming</a>
        <a class = "button" href ="/home">Home</a>
    </div>

    <div class="divisionleft">
      <p class="examples">LIST OF EXAMPLES</p>
                <ul class="code-list">
                    {{#each examplescode}}
                    <a class="Chapter_X1" href="/ctrlC/{{_id}}" class = "codelist">{{title}}</a><br><br><br><br>
                    {{/each}}
                </ul>
    </div>

    <div class="divisionright">
    
        <div class="container">
             <p id="score">Your Score is :{{totalScore}}</p>
        
            <div class="bottom-panel">
                {{#if selectedCodeExample}}
                <h2>{{selectedCodeExample.title}}</h2>
                <div class="displayflex">
                <div class="codediv">
                    <pre class="code-snippet">{{selectedCodeExample.code}}</pre>
                </div>
                <div class="optiondiv">
                       {{#each selectedCodeExample.options}}
                            <p class="options">{{this}}</p>
                      {{/each}}

                </div>
                </div>
                {{/if}}

                <form action="/ctrlC/{{ selectedCodeExample._id }}/submit" method="POST">
                    <h3 id="youranswer">Your Answer</h3>
                    <textarea name="userCode" id="inputbox" rows="5" cols="10"></textarea>
                    <button type="submit" id="submitbutton">Submit</button>
                </form>
                <p>{{ message }}</p>
               
            </div>
        </div>
    </div>
     <div class="bottom_columns">
        <div id="columna">
          <h1 id="C">C Programming</h1>
          <form>
            
            <a href="/variablesC"><input class="Chapter_X" type="button" value="VARIABLES"><br><a/>
           <a href="/ctrlC"> <input class="Chapter_X" type="button" value="CONTROL STATEMENTS"><br></a>
            <a href="/functionC"><input class="Chapter_X" type="button" value="FUNCTIONS"><br></a>
            <a href="/arrayC"><input class="Chapter_X" type="button" value="ARRAYS & STRINGS"><br></a>
            <a href="/pointer"><input class="Chapter_X" type="button" value="POINTERS"><br><a/>
           
        </form>
        </div>
        <div id="columnb">
          <h1 id="J">Java</h1>
          <form>
             <a href="codesj.html">
           <a href="/variableJ"><input class="Chapter_X" type="button" value="VARIABLES"><br></a>
           <a href="/arrayJ"><input class="Chapter_X" type="button" value="ARRAY & STRINGS"><br></a>
           <a href="/threads"><input class="Chapter_X" type="button" value="THREADING"><br></a>
           <a href="/exception"><input class="Chapter_X" type="button" value="EXCEPTION HANDLING"><br></a>
           <a href="/inheritance"><input class="Chapter_X" type="button" value="INHERITANCE"><br></a>
            </a>
            
        </form>
        </div>
        <div id="columnc">
          <h1 id="About-Us">About Us</h1>
          <p id="Creators">Creators : </p>
          <p class="CreatorDetails">Suryansh Saxena [C31-146]</p>
          <p class="CreatorDetails">Zeeshan Hyder [C31-147]</p>
          <p class="CreatorDetails">Saif Shaikh [C31-149]</p>
          <p id="ContactUs">Contact Us</p>
          <p class="Contacts">Phone : +91-XXXXXXXXXX</p>
          <p class="Contacts">E-Mail : abc123@dummyemail.com</p>
        </div>
    </div>  
    <footer>
        <p>Copyright &copy; codeFix Module 2023. All Rights Reserved.</p>
    </footer> 
</body>
</html>